<h1>Instituto de Fomento de Ferias y Exposiciones del Estado de Colima <%= Date.today.year %></h1>
<%= stylesheet_link_tag 'frontend' %>
<%= yield %>
<h6>Elaborado por: <strong>Luis Alberto Velasco Montes</strong></h6>

